# Linux Kernel Module Build Artifacts
*.o
*.ko
*.mod
*.mod.c
*.mod.o
*.cmd

Module.symvers
modules.order

.tmp_versions/

# Dependency Files
*.d

# clangd / bear
compile_commands.json
.cache/
.clangd/

# VSCode
.vscode/

# Vim
*.swp
*.swo
*~

# Logs
*.log

# macOS
.DS_Store